body{
    margin: 0;
    background-color: rgb(0, 0, 0,0.9);
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

.header::after{  /* ver seudo elemento*/
    content: '';
    height: 87vh;
    width: 100%;
    background-image: url(https://wallpaperstock.net/wallpapers/thumbs1/22279wide.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(30px); /* efecto nublado*/
    -webkit-filter: blur(30px);
    transition: all 1000ms;
}

.header:hover::after{ /* se hace nitido con cursor, luego vuelve a nublar*/
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.header-content{
    z-index: 1;
    position: absolute;
    top: 33%;
    width: 100%;
    text-align: center;    
}

nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav-bar{
    z-index: 1;
    position: absolute;
    top: 7%;
    width: 68%;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

.nav-bar a{
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 0.68rem;
    padding: 8px 12px;
    margin-left: 18px;
    border: 1px solid rgba(184, 135, 11, 0.5);
    border-radius: 0.35rem;
    float: right;
}

.title{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 2.8rem;
    margin: 0;
}

.title1{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 6rem;
    margin: 0;
    font-size: 5rem;
}

.text{
    font-size: 16px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

.header-content .text {
    line-height: 1.7;
    width: 68%;
    margin: auto;
    text-align: center;
    font-size: 1rem;
}

.text-center{
    text-align: center;
    margin: auto;
}

.container {
    max-width: 80%;
    margin: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.container1 {
    max-width: 80%;
    margin: auto;
    padding-top: 4.5rem;
    padding-bottom: 2rem;
}

.diagonal{
    -webkit-transform: skewY(-2deg);
    transform: skewY(-2deg);
}

.recto{
    -webkit-transform: skewY(2deg);
    transform: skewY(2deg);
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 30px 30px 30px or repeat(3, 1fr)*/
    grid-gap: 20px;
}

.grid-2{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.flexible{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{  
    color: rgba(255, 255, 255, 0.5);   
    line-height: 1.9;
}

.bg-light{
    background-color: white;
    color: #333;
}

#pre{
    font-size: 21px;
    line-height: 2.5;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    text-align: justify;
    /* padding: 10px; */
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Allerta', sans-serif; */
}

footer{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.justify{
    text-align: justify !important;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

p{
    margin: 0;
}

p i{
    margin-right: 0.5rem;
}

.grid-2 h3{
    font-size: 2rem;
}

.grid-2 .text{
    font-size: 0.912rem;
    line-height: 1.7;
}

.grid-2 div a{
    padding: 8px 12px;
    text-decoration: none;
    border: 1px solid whitesmoke;
    border-radius: 0.25rem;
    color: whitesmoke;
    font-size: 20px;
}

.grid-2 .flexible a{
    border: none;
}

.grid-2 .flexible h3{
    font-size: 1rem;
}

/* ------------------------------------- RESPONSIVE ---------------------------------------------- */

@media screen and (max-width: 1024px){

    #pre{
        font-size: 15px;
        padding: 0;
    }

    .title1{
        font-size: 4rem
    }

    .grid-2 .text{
        font-size: 0.75rem;
        line-height: 1.6;
    }
}

@media screen and (max-width: 768px){

    .header-content .text{
        width: 70%;
        font-size: 0.84rem;
        text-align: center;
    }

    #pre{
        font-size: 13px;
        padding: 0;
    }

    .title1{
        font-size: 3rem
    }

    .grid-2 .text{
        font-size: 0.7rem;
        line-height: 1.6;
    }

    .nav-bar a{
        font-size: 0.5rem;
        padding: 6px 10px;
    }
}


@media screen and (max-width: 375px){
    .grid-3, .grid-2{
        grid-template-columns: 1fr;
    }

    .header::after{
        height: 85vh;
    }

    .header-content{
        top: 20%;
    }
    
    .header-content .text{
        width: 85%;
        font-size: 0.73rem;
        text-align: center;
    }

    .container{

        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .pre{
        font-size: 13px;
        padding: 0;
    }

    .title1{
        font-size: 3rem
    }

    .grid-2 .text{
        line-height: 1.6;
    }
    
    nav{
        display: none;
    }
}

@media screen and (max-width: 320px){

    .header::after{
        height: 86vh;
    }

    #pre{
        font-size: 14px;
        padding: 0;
    }

    footer p{
        font-size: 14px;
    }

    .justify{
        padding: 0px;
    }

    .title1{
        font-size: 2.5rem
    }

    .header-content .text {
        text-align: center;
        font-size: 0.76rem;
    }

    .grid-2 .text {
        font-size: 0.763rem;
        line-height: 1.6;
    }

    nav{
        display: none;
    }
}

@media screen and (min-width: 321px) and (max-width: 360px){ /* responsive para Galaxy S5*/

    .title1{
        font-size: 2.84rem
    }

    .header-content .text {
        text-align: center;
        font-size: 0.9090rem;
    }

    .header-content{
        top: 30%;
    }

    
    .header::after{
        height: 90vh;
    }

    .grid-2 .text{
        font-size: 0.88rem;
        line-height: 1.6;
    }

    nav{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 115%;
    }

    #pre{
        font-size: 20px;
        padding: 0;
    }
}